.categories-container {
  padding: 40px;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  width: 100%;
  box-sizing: border-box;
}

.categories-container h1 {
  text-align: center;
  color: #333;
  margin-bottom: 40px;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.categories-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  margin: 0 auto;
  max-width: 1400px;
}

.category-card {
  background: white;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative; /* Ensures proper image positioning */
}

.category-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.category-card img {
  width: 100%;
  height: 100%; /* Fill the height of the div */
  object-fit: cover; /* This will crop the image if necessary, to ensure it fills the container */
}

.category-card h3 {
  text-align: center;
  padding: 15px;
  margin: 0;
  color: #444;
  font-size: 1.2rem;
}

/* Media Queries for Responsive Design */
@media (max-width: 992px) { 
  .categories-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) { 
  .categories-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .category-card img {
    height: 250px; /* Adjust height for tablets */
  }
}

@media (max-width: 576px) { 
  .categories-grid {
    grid-template-columns: 1fr;
    text-align: center;
    width: 100%;
    
  }

  .category-card img {
    height: 140px; /* Adjust height for small phones */
    width: 100%;
  }
}
